body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}

.links-container {
    display: flex;
    margin-top: 20px;
}

.links-container a {
    margin-right: 10px;
}


h1 {
    text-align: center;
    color: #333;

}

p {
    margin-bottom: 10px;
}

a {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table {
    width: 40%;
    border: 3px solid black;
}

td {
    padding: 10px 0px 10px 14px;
    border: 1px solid black;
    width: 33%;
}

.nm {
    font-size: 20px;
}

.add_friend_btn {

    text-decoration: none !important;
    outline: 1px solid black;
    padding: 7px 20px;
}

.btnss {
    display: flex;
    width: 340px;
    justify-content: space-between !important;
    margin: 20px;
    margin-top: 20px !important;
}